.Card{
    margin-top: 16px;
    background-color: rgba(175, 198, 255, 1);
    border-radius: 16px;
    padding: 16px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Cabecalho{
        font-size: 24px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;

        &__Titulo{
            margin-right: 16px;
        }
    }

    &__DadosPrincipais{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &__Colunas{
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            span{
                margin-bottom: 8px;
                text-align: start;
            }

            Input{
                margin-bottom:8px;
            }
        }
    }

    &__DadosTotais{
        width: 90%;
        display: flex;
        flex-direction: column;
        
        span{
            margin-bottom: 8px;
            text-align: start;
        }

        Input{
            margin-bottom:8px;
        }
    }
}