.Barra{
    display: flex;
    flex-direction: row;
    align-items: center;

    &__TextoVeu{
        margin-right: 20px;
    }

    a{
        text-decoration: none;
        color: inherit;
        margin-left: 20px;
    }
 
}