$primary-color: rgba(41, 64, 82, 1);
$primary-font: 'Source Sans Pro', sans-serif;

body{
    color: $primary-color;
    font-family: $primary-font;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 98vw;
    margin: 0 auto;
}

.CorpoInterno{
    display: flex;
    flex-direction: row;
    width: 98vw;
}
    
